<h1>Team Name: <%= @teams.name %></h1>
<h1>Team Motto: <%= @teams.motto %></h1>

<ul>
  <%@heroes.each do |hero| %>
  <li>Hero Name: <%= hero.name %></li>
  <li>Hero Power: <%= hero.power %></li>
  <li>Hero Biography: <%= hero.bio %></li>
  <% end %>
</ul>
